body{
    text-align: center;
}
h1{
    font-family:monospace;
    font-size: 3rem;

}
.clock-div{
    border: 7px solid #0062FF;
    border-radius: 50px;   
    background-color: black;
    width: 60%;
    height: 60vh;
    margin: 10px auto;
    font-size: xx-large;
    font-family:'digital-7' ;
    font-weight: 500;
    display: flex;
    justify-content: center;

}
.pm{
    color: white;
    margin-left: 10px;
    font-size:medium;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.clock-div p{
    margin: auto;
    font-size: 5rem;
}
span{
    color: #0062FF;
}
.colon{
    color: white;
}
footer p{
    font-family: monospace;
    font-size: large;
    margin-top: 100px;
}

/* responsive for mobile  */
 @media (max-width : 425px) {
     h1{
         font-size: 2rem;
     }
     .clock-div{
         width: 80%;
         height: 40vh;
         padding: 10px;
     }
    .clock-div p{
         font-size: 1em;
    }
    .pm{
        font-size: x-small;
    }
} 